body {
  background-color: #7ed6df;
}
#preview,
#editor {
  background-color: #c7ecee;
  min-height: 500px;
  max-height: 500px;
}
/* .container > h2 {
  color: #22a6b3;
} */
#preview {
  overflow: scroll;
}
code {
  background-color: #dff9fb;
}
pre {
  background-color: #dff9fb;
}
blockquote {
  border-left: 5px solid #535c68;
  padding-left: 5px;
}
.container-fluid > h2 {
  background-color: black;
  color: white;
}
table,
td,
th {
  border: 1px solid black;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 15px;
}
